<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
    <script type="text/javascript" src="js/vue.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
\
    <link rel="stylesheet" href="css/homepage.css">
    <link rel="stylesheet" href="css/headingFooter.css">
</head>
<body>
    <header>

        <div class = "shopname">
            <a href="">
                <img src="image/logo.svg" alt="Cafe logo">
                
            </a>
              <h1>Soul Cafe</h1> 
        </div>
         
        <div class = "icons">
            <a href=""><img src="image/profile.svg" alt="profile"></a>
            <a href=""><img src="image/cart.svg" alt="cart"></a>
            <img src="image/logout.svg" alt="logout">
        </div>
    </header>

    <main>
        <div class = "banner">
            <img src="image/coffeeCup.png" alt="" style="max-width: 100%">

            <div class = "sentences">
                <p>
                    <em>Enjoying <span>Soul</span>  Coffee In The Morning</em> 
                </p>

                <p>
                    Soul Cafe is the best cafe in the Melbourne,
                    we provide your soul with refreshing coffee every morning
                    register and start now!☕️
                </p>

                <p>Register and Login to Enjoy!</p>                
            </div>

        </div>

        <div class = "products" id="products">
            <h1>Our Products</h1>
            <div class = "products-list">
                <div v-for="product in products" class = "product">
                    <el-image :src="getImage(product)" >
                        <div slot="error" class="image-slot">
                            <img style="width: 286px; height: 346px" src="./image/noImg.png"/>
                        </div>
                    </el-image>
                    <p class="productTitle"><b>{{product.name}}</b></p>
                    <p class="calorieInfo">500 Cal</p>
                    <p class="redPrice"><b>${{product.price}}</b></p>
                    <button class="cartButton" @click="displayTagMenu(product)">add to cart</button>
                </div>
            </div>


            <el-dialog :visible.sync="selectTagVisible" :width="dialogWidth">
                <div class="topProductInfo">
                    <div>
                        <img :src="getImage(selected)" style="height: 150px; width: 120px"/>
                    </div>
                    <div class="topProductInfoRight">
                        <div class="productTitle"><b>{{selected.name}}</b></div>
                        <div class="calorieInfo">500 Cal</div>
                        <div class="redPrice">${{selected.price + selected.sizePrice + selected.basePrice}}</div>
                    </div>
                </div>
                Choose Size
              <div class="tagsArea">
                  <div  v-for="(size, index) in coffeeTag.size">
                      <div v-if="isSizeSelected(index)" class="tagSelected" @click="selectSize(size, index)">
                          <span>{{size[0]}}</span>
                          <span>{{size[1] === 0?'':'+'+size[1]}}</span>
                      </div>
                      <div v-else class="tagUnselected" @click="selectSize(size, index)">
                          <span>{{size[0]}}</span>
                          <span class="tagPrice">{{size[1] === 0?'':'+'+size[1]}}</span>
                      </div>
                  </div>
                </div>
                <div v-show="isCoffee">
                Choose Base
                <div class="tagsArea">
                    <div  v-for="(base, index) in coffeeTag.base">
                        <div v-if="isBaseSelected(index)" class="tagSelected" @click="selectBase(base, index)">
                            <span>{{base[0]}}</span>
                            <span>{{base[1] === 0?'':'+'+base[1]}}</span>
                        </div>
                        <div v-else class="tagUnselected" @click="selectBase(base, index)">
                            <span>{{base[0]}}</span>
                            <span class="tagPrice">{{base[1] === 0?'':'+'+base[1]}}</span>
                        </div>
                    </div>
                </div>
                </div>
                <div style="text-align: center">
                    <button class="tagSubmitButton" @click="addCart()">add to cart</button>
                </div>
            </el-dialog>
        </div>
    </main>

    <footer>
        @Copywrite by Soul Cafe
    </footer>
    <script src="js/axios/axios.min.js"></script>
    <script>
        new Vue({
            el:"main",

            data() {
                return {
                    dialogWidth: 0,
                    selectTagVisible: false,
                    products:[],
                    isCoffee: false,
                    selected:{
                        name : '',
                        extra : [],
                        sizeFlags: [true, false, false],
                        baseFlags: [false, false, false, false]
                    },
                    coffeeTag: {
                        size: [['small', 0.0],['medium', 0.5],['large', 1.0]],
                        base: [['full cream', 0.0], ['diet', 1.0], ['oak milk', 1.0], ['soy milk', 1.0]],
                    },
                };
            },
            created() {
                this.setDialogWidth()
            },
            mounted(){
                axios({
                    method: 'get',
                    url: '/product'
                }).then(res => {
                    this.products = res.data.data;
                });
                window.onresize = () => {
                    return (() => {
                        this.setDialogWidth()
                    })()
                }
            },
            methods: {
                getImage(product){
                    return 'image/' + product.name.toLowerCase() + '.png';
                },
                displayTagMenu(product){
                    this.selectTagVisible = true;
                    this.isCoffee = product.categoryId === '1';
                    this.selected = product;
                    this.selected.price = product.price;
                    this.selected.basePrice = 0;
                    this.selected.sizePrice = 0;
                    this.selected.size = 'small';
                    this.selected.extra = [];
                    this.selected['sizeFlags'] =  [true, false, false];
                    this.selected['baseFlags'] = [false, false, false, false];
                },
                isSizeSelected(index){
                    return this.selected['sizeFlags'][index];
                },
                isBaseSelected(index){
                    return this.selected['baseFlags'][index];
                },
                selectSize(size, index){
                    this.selected.sizePrice = 0;
                    this.selected['sizeFlags'] =  [false, false, false];
                    this.selected['sizeFlags'][index] = true;
                    this.selected.size = size[0];
                    this.selected.sizePrice += size[1];
                    this.refreshDialog();
                    console.log(this.selected)
                },
                selectBase(base, index){
                    console.log(index)
                    if(this.selected['baseFlags'][index] === false){
                        this.selected['baseFlags'][index] = true;
                        this.selected.basePrice += base[1];
                        this.selected.extra.push(base[0])
                    }else{
                        this.selected['baseFlags'][index] = false;
                        this.selected.basePrice -= base[1];
                        let pos = this.selected.extra.indexOf(base[0]);
                        if (pos !== -1) {
                            this.selected.extra.splice(pos, 1);
                        }
                    }
                    console.log(this.selected)
                    this.refreshDialog();
                },
                refreshDialog(){
                    this.selectTagVisible = false;
                    this.selectTagVisible = true;
                },
                addCart(){
                    let item = this.selected;
                    let product = {
                        productId: item.id,
                        productName: item.name,
                        extra: item.extra.toString(),
                        size: item.size,
                        amount: item.price + item.sizePrice + item.basePrice,
                        customerId: '1'
                    }
                    this.selectTagVisible = false;
                    axios({
                        method: 'post',
                        url: '/cart',
                        product
                    }).then(res => {
                        if(res.data.code === 200){
                            this.$message({
                                message: res.data.message,
                                type: 'success'
                            });
                        }
                    }).catch(err => {
                        this.$message.error('Error Occurred');
                    })
                },
                setDialogWidth() {
                    console.log(document.body.clientWidth)
                    var val = document.body.clientWidth
                    const def = 400 // 默认宽度
                    if (val < def) {
                        this.dialogWidth = '100%'
                    } else {
                        this.dialogWidth = def + 'px'
                    }
                }
            },
        })
    </script>

</body>

</html>
