<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <script type="text/javascript" src="js/vue.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://kit.fontawesome.com/34e820dd12.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/login.css">
    <script src="js/axios/axios.min.js"></script>
</head>
<body>
    <header>

        <a href="homepage.html"><img src="image/arrowLeft.png" alt="back"></a>
        <span> back</span>

        <div class = "shopname">
            <a href="homepage.html"><img src="image/logo.svg" alt="Cafe logo"></a>
            <h1>Soul Cafe</h1>   
        </div>
         
    </header>

    <main>
        <div class="registerContainer">
            <div class="signTitle">Register</div>
            <div class="signPrompt">Register to order our products and enjoy drinkings!</div>
            <form :model="form">
                <label for="uname"><i class="fa-solid fa-user"></i>Username</label><br>
                <input :class="{'errorInput':isError}" type="text" id="uname" name="uname" v-model="username"><br>
                <br>
                <label for="fname"><i class="fa-solid fa-user"></i>first&nbspname</label><br>
                <input :class="{'errorInput':isError}" type="text" id="fname" name="fname" v-model="fname"><br>
                <br>
                <label for="lname"><i class="fa-solid fa-user"></i>last&nbspname</label><br>
                <input :class="{'errorInput':isError}" type="text" id="lname" name="lname" v-model="lname"><br>
                <br>



                <label for="psd"><i class="fa-solid fa-key"></i>Password</label><br>
                <input :class="{'errorInput':isError}" type="password" id="psd" name="psd" v-model="password"><br>
                <br>
                <label for="cfpsd"><i class="fa-solid fa-user"></i>confirm password</label><br>
                <input :class="{'errorInput':isError}" type="password" id="cfpsd" name="cfpsd" v-model="cfpsd"><br>
                <br>
                <label for="email"><i class="fa-solid fa-envelope"></i>email</label><br>
                <input :class="{'errorInput':isError}" type="text" id="email" name="email" v-model="email"><br>
                <br>
                <label for="phone"><i class="fa-solid fa-phone"></i>phone</label><br>
                <input :class="{'errorInput':isError}" type="text" id="phone" name="phone" v-model="phone"><br>
                <br>

                <label for="gender"><i class="fa-solid fa-venus"></i>gender</label><br>
                <div :class="{'errorInput':isError}" id="gender" name="gender" v-model="gender">
                    <label for="male">male</label>
                    <input type="radio" id="male" name="male" value="male">
                    <label for="female">female</label>
                    <input type="radio" id="female" name="female" value="female">


                </div>
                <br>
            </form>
            <div style="text-align: center"><button class="loginButton" @click="register()">register</button></div>

        </div>


    </main>

    <footer>
        @Copywrite by Soul Cafe
    </footer>
    <script>
        new Vue({
            el:"main",
            data() {
                return {
                    username:'',
                    password:'',
                    cfpsd: '',
                    phone: '',
                    email: '',
                    // isError:false,
                };
            },
            created() {
            },
            mounted(){
            },
            methods: {
                register(){
                    if(this.username.length > 0 && this.password.length > 0){
                        this.isError = false;
                        axios({
                            method: 'post',
                            url: '/customer/register',
                            data:{
                                username: this.username,
                                password: this.password
                            }
                        }).then(res => {
                            if(res.data.code === 200){
                                localStorage.setItem('customer',JSON.stringify(res.data))
                                window.location.href= '/homepage.html'
                            }else{
                                this.$message(res.data.msg);
                                this.isError = true;
                            }
                        }).catch(err => {
                        })
                    }else{
                        this.$message('please enter your password correctly.');
                        this.isError = true;
                    }
                }
            }
        })
    </script>
    
</body>
</html>