.banner{
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}

.sentences{
    text-align: center;
    width: 50%;
    padding-right: 10px;
}

.sentences p{
    color: #572418;
}

.sentences p:first-child{
    font-size: 32px;

}

.sentences p:nth-child(3){
    font-weight: bold;
}

.sentences span{
    color: #8A3E37;
}

.products-list{
    display:inline-flex;
    flex-wrap: wrap;
    /* background-color: #572418; */
    width: fit-content;
    justify-content: center;
}

.product{
    display: inline-block;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    /* background-color: aliceblue; */
}

.products h1{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.product button{
    font-size: 16px;
    color: #6D3E16;
    border: solid #9E591F;
    padding: 5px 10px;
    border-radius: 30px;
    background-color: #F7F7F7;
}

.product button:hover{
    background-color: #9E591F;
    color: white;
    /* font-weight: bold; */
    -webkit-transition: 0.5s;
    transition: 0.5s;
}


.info{
    display: flex;
    text-align: left;

    padding-right: 10px;
    margin-left: 54px;
}
.el-dialog__body {
    word-break: normal !important;
}
.el-dialog__body .info{
    display: flex;

}
.choose{
     padding-inline-start: 9%;
 }

.button{
    display: block !important;
    border: none;
    font-size: 18px!important;
    color: white!important;
    padding: 10px 15px!important;
    border-radius: 15px!important;
    background-color: #9E591F!important;
    margin: 30px auto auto!important;
}
.el-dialog__body img{

    width: 50%;
}
.intro{
    text-align: left;
    width: 50%;
    padding-right: 10px;
    margin-left: 28%
}

.into p {
    color: #572418;
    font-size: 22px;
}
@media screen and (max-width: 800px) {
    .banner{
        flex-direction: column;
    }
}

/* @media screen and (max-width: 660px) {
    .product{
        margin-left: 0;
    }
} */