main{

    padding-top: 20px;
    width: 90%;
    margin: auto;
    padding-bottom: 50px;
}

main a{
    text-decoration: none;
    color: #9E591F;
}
.back{
    display: flex;
    color: #9E591F;
}

.switcher{
    border: none;
    width: 100%;
    margin-top: 5%;
    margin-left: 30%;
    margin-bottom: 4%;
}

.swtbtn{
    margin-right: 10%;
    padding: 25px 0;
    border: none;
    background: #F7F7F7;
    font-size: 20px;
}
.orderStyle{
    border-bottom: 2px solid #9E591F;
    color: #9E591F;
    font-weight: bold;
}
.statusNumberTime{
    display: flex;
    gap: 7%;
    font-size: 15px;
}
.time span, .statusNumberTime span, .contact span{
    color: #9E591F;
}
.total span, .price span{
    color: red;
    display: inline-block;
}

.detail{
    grid-template-columns: repeat(1, 100px 20px 80px);
    gap: 0 10px;
    border: 2px solid #9E591F;
    border-radius: 25px;
    margin-bottom: 15px;
    padding: 3%;
    width: 70%;
    margin-left: 10%;
}
.item {
    max-width: 600px;
    grid-template-columns: repeat(1, 20% 30% 25% 25%);
    padding: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total{
    margin-top: 2%;
    margin-left: 76%;
}
.contact{
    margin-top:20%;
}
@media screen and (max-width: 560px) {
    .switcher{
        margin-left: 15%;
    }
}