main{

    padding-top: 20px;
    width: 90%;
    margin: auto;
    padding-bottom: 50px;
}

main a{
    text-decoration: none;
    color: #9E591F;
}
.back{
    display: flex;
    color: #9E591F;
}

.time{
    font-size: 25px;
    text-align: center;
    color: black;
    padding-top: 2%;
}
.switcher{
    border: none;
    width: 100%;
    margin-top: 5%;
    margin-left: 25%;
    margin-bottom: 4%;
}

.swtbtn{
    width: 50%;
    padding: 25px 0;
    border: none;
    background: #F7F7F7;
    font-size: 20px;
}
.orderStyle{
    border-bottom: 2px solid #9E591F;
    color: #9E591F;
    font-weight: bold;
}
.statusNumber{
    font-size: 20px;

}
.time span, .statusNumber span, .contact span{
    color: #9E591F;
}
.total span, .price span{
    color: red;
    display: inline-block;
}

.detail{
    grid-template-columns: repeat(1, 100px 20px 80px);
    gap: 0 10px;
    border: 2px solid #9E591F;

    margin-bottom: 15px;
    padding: 5%;
}
.item {
    grid-template-columns: repeat(1, 70px 20px 80px);
    padding: 2%;
    border: 2px solid #9E591F;
    display: flex;

}
.item img{
    max-height: 100px;
    width: 85%;
    height: 80%;
    padding: 14px;
    margin: auto;
    display: block;
}

.name-size-base{
    margin-left: 22%;
}

.price{
    margin-left: 30%;
}

.price.number{
    margin-top: 20%;
}
.total{
    margin-top: 10%;
    margin-left: 80%;
}
.contact{
    margin-top:20%;
}
@media screen and (max-width: 560px) {
}