body{
    margin: 0;
    padding: 0;
    background-image: url('../image/img.png');
    opacity: 80%;
    background-size: cover;
    background-repeat: no-repeat;
}
main{

    padding-top: 20px;
    width: 80%;
    margin: auto;
    padding-bottom: 50px;
}

main a{
    text-decoration: none;
    color: black;
}

a img, a p{
    display: inline;
}

.profile{
    margin-top: 3%;
    align-items: center;
    width: 70%;
    min-width: 380px;
    padding: 30px;
    border-radius: 20px;
    background: rgba(237, 240, 249, 0.9);
    backdrop-filter: blur(20px);
    margin-left: 10%;
}



h1{
    font-weight: normal;
    color: black;
}
h1 p{
    margin-top: -10px;
}

.img-name-gender{
    text-align: center;
}
.title{
    margin-left: 10%;
}
.editable-container{
    margin-top: 40px;
    display: flex;
}
.editable-title{
    width: 50%;
    padding-left: 40px;
}
.title{
    padding: 3px;
}
.editable-info{
    width: 50%;
    text-align: center;
}
.info{
    padding: 10px;
    margin-top: 10px;
}
.info:nth-child(2){
    margin-top: 18px;
}
.name{
    font-size: 20px;
    font-weight: normal;
    margin-left: 4%;
}

.done-cancel{
    display: flex;
    justify-content:flex-end;
}
.edit{
    margin-top: 10px;
    display: flex;
    justify-content:flex-end;
    margin-left: 10px;
}
.edit p{
    font-size: 20px;
    color: #9E591F;
    font-weight: bold;

}

#notice{
    margin-top: 10%;
    text-align: center;
    font-weight: bold;
}

button{
    display: block;
    border: none;
    font-size: 18px;
    color: white;
    padding: 10px 15px;
    border-radius: 15px;
    background-color: #9E591F;
    margin: auto;
}